
.inline{
  display: inline;
}

.search{
  margin-top:20px;
}

.padtop{
  padding-top: 50px; 
}

.card{
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  border: 1px solid #e3e3e3;
  padding:20px;
  margin-bottom:15px;
  background: #fff;
}
a .card:hover {
  transition: 0.4s;
  transform:scale(1.1)
}
a {
	color: #333;
}
a:hover{
  text-decoration: none;
}
